name: Deploy Demo to Github Pages
on:
  push:
    paths:
      - demos/simple
    tags:
      - demo-v\d+.\d+.\d+

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Install Dependencies
        run: pnpm install --filter simple
      - name: Build
        run: pnpm --filter simple build
      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: demos/simple/dist

  deploy:
    needs: build
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

