name: Test Plugin
on:
  push:
  pull_request:

jobs:
  Tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Install Dependencies
        run: pnpm install --filter postcss-glitch
      - name: Run ESLint
        run: pnpm --filter postcss-glitch lint
      - name: Run Unit Tests
        run: pnpm --filter postcss-glitch test
  Check-Size:
    needs: Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Install Dependencies
        run: pnpm install --filter postcss-glitch
      - name: Build dist to check size
        run: pnpm --filter postcss-glitch build:ci
      - name: Run size-limit
        run: pnpm --filter postcss-glitch size:ci

