name: Run linter and tests for plugin
on:
  push:
  pull_request:

jobs:
  Tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install pnpm
        uses: pnpm/action-setup@v2
      - name: Install Dependencies
        run: pnpm install --filter postcss-glitch
      - name: Run ESLint
        run: pnpm --filter postcss-glitch lint
      - name: Run Unit Tests
        run: pnpm --filter postcss-glitch test
